@font-face {
  font-family: 'Roboto';
  /* Replace with your font name */
  src: url('fonts/Roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}